.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  padding: 0 20px;
  border-right: 1px solid black;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 5px;
  width: 40px;
}
